.body {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
}

.bn1 {
  /* background-color: #0f59eb; */
  margin: 0 10%;
}

.bn2 {
  display: flex;
  justify-content:space-evenly;
}

.bn3 {
  padding: 1em 5em;
  margin: 0 0.2em 2em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  transition: all 0.2s;
}

.bn3:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.bn35 {
  text-decoration: underline;
  color: #ffffff;
}