body{
  background-color: #181818;
}

.function-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 0 1rem;
}

.title-contents {
  display: flex;
}

.bn2 {
  width: 22%;
  padding: 1em 3em;
  margin: 0.5em 0 1em 0.5em;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 1em;
  text-decoration: none;
  font-weight: 300;
  color: #E6E6E6;
  transition: all 0.2s;
  text-align: center;
}

.bn2:hover {
  color: black;
  background-color: #E6E6E6;
}

.bn3 {
  padding: 1em 4.5em;
  margin: 0 0.2em 1em 0;
  border: 0.15em solid #E6E6E6;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: #E6E6E6;
  transition: all 0.2s;
}

.bn3:hover {
  color: black;
  background-color: #E6E6E6;
}

.bn35 {
  text-decoration: underline;
  color: #E6E6E6;
}

.link {
  margin: 1% 5% 2% 5%;
  display: flex;
  justify-content:space-evenly;
  color: #E6E6E6  ;
  font-size: x-large;
}

