body{
  background-color: #282c34;
}


.function-contents {
  display: flex;
  justify-content:space-evenly;
  margin: 0 1rem;
}

.title-contents {
  display: flex;
}

.bn2 {
  padding: 1em 5em;
  margin: 0 0.5em 1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 1em;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  transition: all 0.2s;
}

.bn2:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.bn3 {
  padding: 1em 4.5em;
  margin: 0 0.2em 1em 0;
  border: 0.15em solid rgb(255, 255, 255);
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  transition: all 0.2s;
}

.bn3:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.bn35 {
  text-decoration: underline;
  color: #ffffff;
}

.link {
  margin: 0 10%;
  display: flex;
  justify-content:space-evenly;
  color: #ffffff;
  font-size: x-large;
}

